:root {
    --height: 20px;
    --padding: 5px;
    --font-size: 20px;
}

* {
    font-size: var(--font-size);
    color: black;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px;
}

div#logo {
    margin-top: 10px;
    font-weight: bold;
}

#search-input {
    width: 560px;
    height: var(--height);
    padding: var(--padding);
}

#search-btn {
    padding: 2px 20px;
}

div#login {
    margin-top: 10px;
}