
.vidpage{
  grid-row-start:2;
  grid-column-start:1;
  grid-column-end: 4;
  
}
.player-wrapper {
   
    background-color: black;
    width: 100%;
    height: 24em;
  
}

.react-player {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.react-player__play-icon{
  background-color: black;
}

.vidstats{
  width: 80%;
  margin-left: 5rem;
  display:flex;
  justify-content: space-evenly;
}

div#video-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.vidTitle, .created-at, .username {
  margin-left: 5rem;
  margin-bottom: 10px;
}

div#details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button#subscribe {
  justify-self: flex-end;
  padding: 10px 20px;
  margin: 50px;
  margin-right: 200px;
}